---

---

<main>
    <h1 class="font-header" style="color: #fffa">Lasse Holmgaard Bomholt</h1>
    <hr style="margin: 0;">
    <div class="center">
        <div class="">
            <div class="font-header" style="font-size: 5.5em; margin-bottom: 10px; line-height: 1em;">
                Hejsa!
            </div>
            <div class="font-header" style="font-size: 2.5em; margin-bottom: 30px; line-height: 1em;">
                Mit navn er Lasse.
            </div>
            <div class="center-description hide-mobile">
                Jeg har programmeret i 8 år, og brænder for at bygge løsninger der ændrer spillereglerne.
            </div>
            <div class="links hide-mobile">
                <a href="https://www.linkedin.com/in/lassebomh/">LinkedIn</a>
                <a href="https://github.com/lassebomh/">Github</a>
            </div>
        </div>
        <div class="profile-container">
            <img src="/profile_500.png" alt="Lasse Holmgaard Bomholt">
            <div class="box-outline"></div>
        </div>
        <div class="hide-desktop">
            <div class="center-description">
                Jeg har programmeret i 8 år, og brænder for at bygge løsninger der ændrer spillereglerne.
            </div>
            <div class="links">
                <a href="https://www.linkedin.com/in/lassebomh/">LinkedIn</a>
                <a href="https://github.com/lassebomh/">Github</a>
            </div>
        </div>
    </div>
</main>

<style>

    .hide-desktop {
        display: none;
    }


    h1 {
        font-size: 1.5rem;
    }

    main {
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
    }

    .links {
        margin-top: 1em;
        display: flex;
        align-items: center;
        gap: 1em;
    }

    .links a {
        padding: 0.3em 1em;
        border: 1px solid white;
        color: white;
        font-family: "CabinetGrotesk-Variable";
        font-weight: 700;
        opacity: 0.5;
    }

    .links a:hover {
        text-decoration: none;
        opacity: 1;
    }

    .center {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        margin-top: 4em;
    }

    @media only screen and (max-width: 900px) {
        main {
            max-height: 90vh;
        }
        .center {
            flex-direction: column;
            font-size: 0.8em;
            margin-top: 2em;
        }
        .center .font-header {
            text-align: center;
        }
        .center-description {
            text-align: center;
            margin-top: 1em;
        }
        h1 {
            margin: 0;
            text-align: center;
        }
        .links {
            justify-content: center;
            font-size: 1.1em;
        }

        .hide-desktop {
            display: initial;
        }
        .hide-mobile {
            display: none;
        }
    }

    .center-description {
        font-size: 1.2rem;
        color: #fff9;
        max-width: 450px;
    }

    .profile-container {
        flex-shrink: 0;
        width: 400px;
        max-width: 60vmin;
        height: 400px;
        max-height: 60vmin;
        margin: 20px;
        position: relative;
        translate: -10px -10px;
        display: block;
    }

    .profile-container img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
        z-index: 1;
    }

    .box-outline {
        position: absolute;
        inset: 0;
        border: 1px solid white;
        translate: 20px 20px;
    }
</style>