
.lbox {
	width: 90px;
	padding: 10px;
	text-align: center;
	border: 1px solid #bbb;
	box-shadow: #0003 -1px 4px 6px;
	transition: all .3s ease-in-out;
}

.lbox:hover {
	transform: translate3d(2px, -4px, 0px);
	box-shadow: #000 -4px 8px 8px;
}

a {
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
	color: #555;
	font-size: 16px;
}

.profilebox {
	width: 200px;
	border: 1px solid #888;
}