

textarea {
	resize: none;
    font-family: 'Overpass Mono', monospace;
    font-size: 14px;
    color: #fff;
    box-sizing: border-box;
    padding-left:7px;
    padding-top:7px;
	border: 1px hsl(217.6, 30.5%, 35%) solid;
	border-radius: 6px;
	background-color: hsl(215, 20%, 14%);
	box-shadow: 5px 15px 30px #0003;
}

#inputarea {
	margin-right: 20px;
}

#outputarea {

}

#maindiv {
	text-align: center;
	margin-top: 250px;
}