---
import Layout from "../layouts/Layout.astro";
const posts = Object.values(import.meta.glob("./posts/**/index.mdx", { eager: true })) as any[];
---

<Layout frontmatter={{ title: "Lasse H. Bomholt" }}>
  <style>
    iframe {
      width: 100%;
      border: none;
    }
  </style>
  <iframe allowtransparency="true" height="130" src="https://lassebomh.github.io/vanilla-js-3d/"></iframe>
  <h1>Lasse H. Bomholt</h1>
  <img id="profile" src="/profile.webp" alt="Lasse H. Bomholt" width="150" height="150" style="float: right;" />
  <ul>
    <li>Software Engineer at <a href="https://ipaper.io">iPaper</a>.</li>
    <li>Based in Aarhus.</li>
  </ul>
  <p>
    You can find me on <a href="https://github.com/lassebomh">Github</a>, <a href="https://dk.linkedin.com/in/lassebomh"
      >LinkedIn</a
    > or contact me at lasse@bomh.net.
  </p>

  <h2>Public Projects</h2>
  <ul>
    <li><a href="https://lassebomh.github.io/box-breathing/">Box Breathing Guide</a></li>
    <li><a href="https://lassebomh.github.io/tierlist/">Tier List Creator</a></li>
    <li><a href="https://lassebomh.github.io/htmx-playground/">HTMX Playground</a></li>
  </ul>
  <h2>Posts</h2>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
