---
import Layout from "../layouts/Layout.astro";
const posts = Object.values(import.meta.glob("./posts/**/index.{md,mdx}", { eager: true })) as any[];
---

<Layout frontmatter={{ title: "Lasse H. Bomholt", description: "Lasse H. Bomholt, a software engineer based in Aarhus" }}>
  <iframe slot="after-nav" style="width: 100%; border: none;" title="Welcome to bomh.net" allowtransparency="true" height="200" src="https://lassebomh.github.io/vanilla-js-3d/"></iframe>
  <div style="font-family: monospace; font-size: 12px;">
    You can type in the title!
  </div>
  <h1>Lasse H. Bomholt</h1>
  <img id="profile" src="/profile.webp" alt="Lasse H. Bomholt" width="150" height="150" style="float: right;" />
  <ul>
    <li>Software Engineer at <a target="_blank" href="https://ipaper.io">iPaper</a>.</li>
    <li>Based in Aarhus, Denmark.</li>
  </ul>
  <p>
    You can find me on <a target="_blank" href="https://github.com/lassebomh">Github</a>, <a target="_blank" href="https://dk.linkedin.com/in/lassebomh">LinkedIn</a> or contact me at lasse@bomh.net.
  </p>

  <h2>Public Projects</h2>
  <details>
    <summary>
      Box Breathing Guide <a target="_blank" href="https://lassebomh.github.io/box-breathing/">(link)</a>
    </summary>
    <blockquote>
      A breathing tool written in plain old HTML+CSS+JS. I discovered the box breathing technique and thought of an interesting way of visualizing it without any JS, so I made the site and posted it publicly. To my surprise, some people started using it, so I improved the site with various settings and a service worker so it can be installed as an offline app.
    </blockquote>
  </details>
  <details>
    <summary>
      Tier List Creator <a target="_blank" href="https://lassebomh.github.io/tierlist/">(link)</a>
    </summary>
    <blockquote>
      I created this out of frustation with existing tier list sites, which don't have proper drag-and-drop and upload of images by pasting. It's written in Svelte and contains some fun <a target="_blank" href="/flood-fill.gif">image processing algorithms for extracting connected components</a>.
    </blockquote>
  </details>
  <details>
    <summary>
      HTMX Playground <a target="_blank" href="https://lassebomh.github.io/htmx-playground/">(link)</a>
    </summary>
    <blockquote>
      <a target="_blank" href="https://htmx.org/">HTMX</a> can be thought of as a small extension to HTML, providing extra attributes that allow AJAX and interactivity without the developer needing to write JavaScript. It's created by Carson Gross, a teacher of compilers and databases at Montana State University, and I've been a big fan of his essays and his library ever since I discovered it. After getting curious about the lack of any online playgrounds for it, I started making one. I finished the project and put on it on HackerNews where it got some buzz from a lot of people and even the creator himself.
    </blockquote>
  </details>
  <details>
    <summary>
      The 3D title on this site <a target="_blank" href="https://github.com/lassebomh/vanilla-js-3d">(source)</a>
    </summary>
    <blockquote>
      I've always been interested in 3D and while on vacation I decided to challenge myself by writing my own library from scratch. 'From scratch' means that it has no dependencies, no bundling and outputs to a simple 2D canvas. I think it contains some pretty neat ideas, such as strongly typed matricies and was loads of fun to work on.
    </blockquote>
  </details>
  <h2>Posts</h2>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
