body {
  margin: 40px auto;
  max-width: 700px;
  line-height: 1.6;
  font-size: 16px;
  color: #222;
  padding: 0 10px;
  
  background: url("/background.png");
}
h1,
h2,
h3 {
  line-height: 1.2;
}

body.dark {
  background: #111;
  
  color: #eee;
  a {
    color: #8bf;
  }
  a:visited {
    color: #b7f;
  }
}

.astro-code {
  padding: 8px;
}
