body {
  margin: 40px auto;
  max-width: 700px;
  line-height: 1.6;
  font-size: 16px;
  color: #222;
  padding: 0 10px;
}
h1,
h2,
h3 {
  line-height: 1.2;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111;
    color: #eee;
  }
}

.astro-code {
  padding: 8px;
}
