body {
  min-height: 100vh;
  line-height: 1.6;
  font-size: 16px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  font-family: serif;

  color: #222;
  background: url("/background.png");
}
h1,
h2,
h3 {
  line-height: 1.2;
}

:root {
  overflow-y: scroll;
  scrollbar-color: #0006 transparent;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

main {
  margin: 0 auto;
  max-width: 700px;
  padding: 0 32px;
}

.astro-code {
  padding: 12px;
  font-size: 14px;
}

summary {
  cursor: pointer;
}

:root[data-darkmode="true"] {
  body {
    background: url("/background-dark.png") #000;
    color: #eee;
  }

  a {
    color: #8bf;
    &:visited {
      color: #b7f;
    }
  }

  scrollbar-color: #fff6 transparent;
}

@media (max-width: 800px) {
  main {
    padding: 1px 4px;
  }
}

#theme-img {
  cursor: pointer;
}

nav {
  display: flex;
  gap: 8px;
  padding: 8px;
}
