
* {
    margin: 0;
    padding: 0;
    /* background-color: #ff000010; */
}

body {
    width: 90%;
    max-width: 1000px;

    margin: auto;
    margin-top: 8vh;

    display: grid;
    grid-template-columns: 1fr 1.6fr;
    grid-column-gap: 30px;
}

.skill {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    margin-bottom: 20px;
}


h1,h2,h3,h4,h5 {
    font-weight: 400;
    padding-bottom: 15px;
}

p, .blink-image {
    padding-bottom: 15px;
}

p {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.4em;
}

body {
    font-family: 'Lato', sans-serif;
    color: #24292e;
}

.blink-image {
    width: 100%;
    max-width: 32vmin;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blink-title {
    text-align: center;
}

.blink-text {
    font-size: 23px;
    font-weight: 300;
    width: 90%;
    margin: auto;
}

.contact-box {
    padding-bottom: 10px;
}

.contact-box li {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 5px;
    font-size: 18px;
    font-weight: 300;
}

.contact-box li a {
    padding-left: 10px;
    color: inherit;
    text-decoration: none;
}

.contact-box li svg {
    padding-top: 5px;
    filter: invert(40%) saturate(0%);
}

.main {
    margin-top: 60px;
}

.skill > li {
    width: 100%;
    height: 50px;
    border: 1px solid #0002;
    border-radius: 4px;
    list-style: none;
    display: grid;
    grid-template-columns: 50px auto auto;
}

.skill > li > * {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 18px;
    font-weight: 300;
}

.skill > li > span {
    margin-left: 10px;
}

.skill-icon {
    height: 60%;
    margin: auto;
}

.github-ribbon {
    position: absolute;
    top: 0;
    right: 0;
}

.main > h3 {
    margin: 0px 0px 0px 0px;
}

.strike {
    width: 100%;
    border-bottom: 1px solid #0002;
    margin: 5px 0px 20px 0px;
}

.skill div {
    display: flex;
    justify-content: flex-end;
}

.heart {
    width: 20px;
    margin-right: 20px;
    filter: invert(70%);
}

.heartx {
    width: 20px;
    filter: invert(60%);
    margin-right: 3px;
}

.heartinfo {
    margin-bottom: 10px;
    font-size: 16px;
}

@media (max-width: 800px) {
    
    body {
        grid-template-columns: 1fr;
        width: 95%;
    }

    .blink-section {
        margin: auto;
    }

    .blink-image {
        max-width: 70%;
    }

    .github-ribbon {
        width: 90px;
    }

    .main {
        margin: auto;
    }

    .skill {
        grid-column-gap: 6px;
        grid-row-gap: 6px;
        grid-column-start: 10px;
        margin: auto;
        margin-bottom: 15px;
    }

    .skill > li {
        height: 40px;
        grid-template-columns: 40px auto auto;
        width: 100%;
    }

    .skill > li > * {
        font-size: 16px;
    }

    .blink-image {
        max-width: 50vw;
    }

    .contact-box {
        padding-left: 40px;
        padding-bottom: 20px;
    }

    .heart {
        margin-right: 10px;
    }

}

@media (max-width: 380px) {
    .skill > li > span {
        margin-left: -5px;
    }

    .skill-icon {
        margin: auto 4px auto 4px;
    }
}