---
import type { MarkdownLayoutProps } from "astro";
import "../assets/theme.css";

type Props =
  | MarkdownLayoutProps<{
      title: string;
      description: string;
    }>
  | { frontmatter: { title: string, description: string } };

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en" data-darkmode="false">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="description" content={frontmatter.description}>
    <link rel="shortcut icon" href="/home.gif" type="image/gif">
    <title>{frontmatter.title}</title>
    <script type="speculationrules" id="specrules" is:inline>
      {
        "prerender": [
          {
            "where": { "href_matches": "/*" },
            "eagerness": "moderate"
          }
        ],
        "prefetch": [
          {
            "where": { "href_matches": "/*" },
            "eagerness": "moderate"
          }
        ]
      }
    </script>
  </head>

  <body>
    <nav>
      <a tabindex="0" href="/" style="line-height: 0;"><img src="/home.gif" width="40" height="40" alt="Home" /></a>
      <img
        id="theme-img"
        tabindex="0"
        role="button"
        width="40"
        height="40"
        aria-label="Toggle dark mode"
        alt="Toggle dark mode"
      />
    </nav>
    <script>
      import { store } from "../lib/utils";

      const darkmode = store(
        "darkmode",
        () => window.matchMedia("(prefers-color-scheme: dark)").matches
      );
      const themeImg = document.getElementById("theme-img") as HTMLImageElement;

      themeImg.addEventListener("click", () => {
        darkmode.update((darkmode) => !darkmode);
      });

      darkmode.subscribe((darkmode) => {
        document.documentElement.dataset.darkmode = String(darkmode);
        themeImg.src = darkmode ? "/moon.png" : '/sun.png'
      });
    </script>
    <slot name="after-nav" />
    <main>
      <slot />
    </main>
  </body>
</html>
