---
import type { MarkdownLayoutProps } from "astro";
import "../assets/theme.css";

type Props =
  | MarkdownLayoutProps<{
      title: string;
      // author: string;
      // date: string;
    }>
  | { frontmatter: { title: string } };

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{frontmatter.title}</title>
  </head>

  <body>
    <a href="/"><img src="/home.gif" width="40" height="40" alt="Home" /></a>
    <img
      id="theme-img"
      role="button"
      aria-label="Toggle dark mode"
      width="40"
      height="40"
      alt="Toggle dark mode"
      style="cursor: pointer;"
    />
    <script>
      import { store } from "../lib/store";

      const darkmode = store<boolean>("darkmode", window.matchMedia("(prefers-color-scheme: dark)").matches);
      const themeImg = document.getElementById("theme-img") as HTMLImageElement;

      themeImg.addEventListener("click", () => {
        darkmode.update((enabled) => !enabled);
      });

      darkmode.subscribe((darkmode) => {
        if (darkmode) {
          themeImg.src = "/sun.png";
          document.body.classList.add("dark");
        } else {
          themeImg.src = "/moon.png";
          document.body.classList.remove("dark");
        }
      });
    </script>
    <main>
      <slot />
    </main>
  </body>
</html>
