---
import 'water.css/out/dark.min.css';
import '@fontsource-variable/inter';
import '/public/fonts/css/cabinet-grotesk.css'

interface Props {
	title: string;
	description: string;
	lang: string;
}

const { title, description, lang } = Astro.props;
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>


<style is:global>
	:root {
		--background-body: #101113;
		--background: #161f27;
		--background-alt: #1a242f;
		--selection: #1c76c5;
		--text-main: #dbdbdb;
		--text-bright: #fff;
		--text-muted: #a9b1ba;
		--links: #41adff;
		--focus: #0096bfab;
		--border: #526980;
		--code: #ffbe85;
		--animation-duration: 0.1s;
		--button-base: #0c151c;
		--button-hover: #040a0f;
		--scrollbar-thumb: var(--button-hover);
		--scrollbar-thumb-hover: rgb(0, 0, 0);
		--form-placeholder: #a9a9a9;
		--form-text: #fff;
		--variable: #d941e2;
		--highlight: #efdb43;
	}
	body {
		font-family: Inter Variable,ui-sans-serif,system-ui,-apple-system,system-ui,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
		line-height: 1.5;
		max-width: 100%;
		margin: 0;
		font-size: 18px;
		padding: 0;
		color: #bbb;
	}

	main {
		max-width: 800px;
		margin: 20px auto;
		padding: 0 10px;
	}

	hr {
		border: none;
		border-bottom: 1px solid #fff3;
		width: 100%;
	}

	h2 {
		font-size: 2rem;
	}

	.font-header,h1,h2,h3,h4,h5,h6 {
		color: white;
    	font-family: "CabinetGrotesk-Variable";
	}
</style>